<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.ApplyDAO">

	<select id="list" resultType="HashMap" parameterType="HashMap">
		SELECT * FROM applinfoview
		WHERE 1=1
		<if test="searchnm != null">
			AND (STDNT_NO LIKE CONCAT ('%',#{searchnm},'%') OR
			KORN_FLNM_S LIKE CONCAT ('%',#{searchnm},'%'))
		</if>
		<if test="searchyear != null and searchyear !=''">
			AND CRCLM_YEAR LIKE CONCAT ('%',#{searchyear},'%')
		</if>
		<if test="searchhalf != null and searchhalf !=''">
			AND CRCLM_HALF LIKE CONCAT ('%',#{searchhalf},'%')
		</if>
		<if test="searchCN != null and searchCN !=''">
			AND CRCLM_CD LIKE CONCAT ('%',#{searchCN},'%')
		</if>
		ORDER BY KORN_FLNM_S;
	</select>
	<select id="info" parameterType="HashMap" resultType="HashMap">
		SELECT *
		FROM applinfoview
		WHERE STDNT_NO=#{stdnt_no}
	</select>
	<select id="estblSBJ" parameterType="HashMap"
		resultType="HashMap">
		SELECT *
		FROM estblSbJview
		WHERE 1=1
		AND CRCLM_YEAR =#{CRCLM_YEAR}
		AND CRCLM_HALF =#{CRCLM_HALF}
		AND
		CRCLM_CD =#{CRCLM_CD}
		<if test="esntlchk != null and esntlchk != ''">
			AND ESNTL_YN =#{esntlchk}
		</if>
		<if test="search_name != null">
			<choose>
				<when test="search_name = 'all'">
					AND (SBJCT_NM LIKE CONCAT ('%',#{search_value},'%') OR
					KORN_FLNM LIKE CONCAT ('%',#{search_value},'%'))
				</when>
				<when test="search_name = 'sbjNM'">
					AND SBJCT_NM LIKE CONCAT ('%',#{search_value},'%')
				</when>
				<when test="search_name = 'instrNM'">
					AND KORN_FLNM LIKE CONCAT ('%',#{search_value},'%')
				</when>
			</choose>
		</if>
	</select>
	<select id="applySBJ" parameterType="HashMap"
		resultType="HashMap">
		SELECT * FROM applyclsview
		WHERE
		CRCLM_YEAR =#{CRCLM_YEAR}
		AND CRCLM_HALF =#{CRCLM_HALF}
		AND CRCLM_CD =#{CRCLM_CD}
		AND STDNT_NO =#{STDNT_NO}
	</select>
	<insert id="addApply" parameterType="HashMap">
		INSERT INTO APPL_CLS
		SET
		CRCLM_CD=#{CRCLM_CD},
		CRCLM_YEAR=#{CRCLM_YEAR},
		CRCLM_HALF=#{CRCLM_HALF},
		SBJCT_NO=#{SBJCT_NO},
		STDNT_NO=#{STDNT_NO}

	</insert>
	<delete id="delApply" parameterType="HashMap">
		DELETE FROM APPL_CLS
		WHERE
		CRCLM_CD=#{CRCLM_CD} AND
		CRCLM_YEAR=#{CRCLM_YEAR} AND
		CRCLM_HALF=#{CRCLM_HALF}AND
		SBJCT_NO=#{SBJCT_NO} AND
		STDNT_NO=#{STDNT_NO}

	</delete>
	<select id="applyCheck" parameterType="HashMap"
		resultType="Integer">
		SELECT COUNT(*) FROM APPL_CLS
		WHERE
		CRCLM_CD=#{CRCLM_CD} AND
		CRCLM_YEAR=#{CRCLM_YEAR} AND
		CRCLM_HALF=#{CRCLM_HALF}AND
		SBJCT_NO=#{SBJCT_NO} AND
		STDNT_NO=#{STDNT_NO}
	</select>
	<insert id="addHist" parameterType="HashMap">
		INSERT INTO APPL_CLS_HIST
		SET
		CRCLM_CD=#{CRCLM_CD},
		CRCLM_YEAR=#{CRCLM_YEAR},
		CRCLM_HALF=#{CRCLM_HALF},
		SBJCT_NO=#{SBJCT_NO},
		STDNT_NO=#{STDNT_NO},
		CD='0010'
	</insert>
	<insert id="delHist" parameterType="HashMap">
		INSERT INTO APPL_CLS_HIST
		SET
		CRCLM_CD=#{CRCLM_CD},
		CRCLM_YEAR=#{CRCLM_YEAR},
		CRCLM_HALF=#{CRCLM_HALF},
		SBJCT_NO=#{SBJCT_NO},
		STDNT_NO=#{STDNT_NO},
		CD='0020'
	</insert>
	<select id="applyHist" parameterType="HashMap"
		resultType="HashMap">
		SELECT *, DATE_FORMAT(DT, '%Y/%m/%d %H:%i:%s') as DT2 FROM applyhistview
		WHERE 1=1 AND
		CRCLM_CD=#{CRCLM_CD} AND
		CRCLM_YEAR=#{CRCLM_YEAR} AND
		CRCLM_HALF=#{CRCLM_HALF} AND
		STDNT_NO=#{STDNT_NO}
		<if test="search_value != null and search_value != ''">
			AND SBJCT_NM LIKE CONCAT ('%',#{search_value},'%')
		</if>
	</select>
 	<select id="classTMChk" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(1)
		FROM applyclsview a
		WHERE a.CLASSTM = 
		(
		SELECT CLASSTM
		FROM estblSbJview e
		WHERE 	
		e.CRCLM_CD=#{CRCLM_CD} AND
		e.CRCLM_YEAR=#{CRCLM_YEAR} AND
		e.CRCLM_HALF=#{CRCLM_HALF} AND
		e.SBJCT_NO=#{SBJCT_NO}) AND a.STDNT_NO = #{STDNT_NO}
	</select> 
 	<select id="esntl" parameterType="HashMap" resultType="Integer">
		SELECT COUNT(1)
		FROM applyclsview  	
		WHERE
		CRCLM_CD=#{CRCLM_CD} AND
		CRCLM_YEAR=#{CRCLM_YEAR} AND
		CRCLM_HALF=#{CRCLM_HALF} AND
		SBJCT_NO=#{SBJCT_NO} AND 
		STDNT_NO =#{STDNT_NO} AND 
		ESNTL_YN ='Y'
	</select> 
	
	<select id="planAjax" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM sbjctPlanview
		WHERE 
		CRCLM_CD=#{CRCLM_CD} AND
		CRCLM_YEAR=#{CRCLM_YEAR} AND
		CRCLM_HALF=#{CRCLM_HALF} AND
		SBJCT_NO=#{SBJCT_NO}
	
	</select>
	
</mapper>