<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.AtndStdntDAO">
	
	<select id="stdntInfo" parameterType="String" resultType="HashMap">
		SELECT CI.CRCLM_CD, CONCAT(CI.CRCLM_YEAR,'년') AS CRCLM_YEAR, CodeFind('0018', CI.CRCLM_HALF) AS CRCLM_HALF, CI.CRCLM_NM AS CRCLM_NM
		FROM APPL_INFO AI
		JOIN CRCLM_INFO CI ON AI.CRCLM_CD = CI.CRCLM_CD AND AI.CRCLM_YEAR = CI.CRCLM_YEAR AND AI.CRCLM_HALF = CI.CRCLM_HALF
		WHERE AI.STDNT_NO = #{id }
	</select>

	<select id="sbjctList" parameterType="HashMap" resultType="HashMap">
		SELECT AC.CRCLM_CD, AC.CRCLM_YEAR, AC.CRCLM_HALF, AC.SBJCT_NO, aslv.SBJCT_NM, aslv.ESNTL_YN, aslv.KORN_FLNM, aslv.cls_dayhour, aslv.ROOM_NM, aslv.EDU_HR 
		FROM APPL_CLS AC
		JOIN atndSbjctListView aslv ON AC.CRCLM_CD = aslv.CRCLM_CD AND AC.CRCLM_YEAR = aslv.CRCLM_YEAR AND AC.CRCLM_HALF = aslv.CRCLM_HALF AND AC.SBJCT_NO = aslv.SBJCT_NO
		WHERE AC.STDNT_NO = #{id }
		<if test="searchSbjct != null">
			AND aslv.SBJCT_NM LIKE CONCAT('%',#{searchSbjct },'%')
		</if>
	</select>
	
	<select id="atndList" parameterType="String" resultType="HashMap">
		SELECT AA.CRCLM_CD, AA.CRCLM_YEAR, AA.CRCLM_HALF, AA.SBJCT_NO, AA.STDNT_NO
				, CONCAT(WEEK(STR_TO_DATE(ltd.LECT_YMD, '%Y%m%d')) - WEEK((SELECT STR_TO_DATE(EDU_BGNG_YMD, '%Y%m%d') FROM CRCLM_INFO CI WHERE CI.CRCLM_CD = ltd.CRCLM_CD AND CI.CRCLM_YEAR = ltd.CRCLM_YEAR AND CI.CRCLM_HALF = ltd.CRCLM_HALF)) + 1, '주차') AS WEEK_NUM
				, (CONCAT(SUBSTR(AA.LECT_YMD, 5, 2), '.', SUBSTR(AA.LECT_YMD, 7, 2))) AS LECT_YMD
				, CodeFind('0020', ltd.LECT_DAY_CD) AS LECT_DAY , CodeFind('0017', AA.CLS_CD) AS CLS_KORN, CodeFind('0014', AA.ATND_CD) AS ATND_KORN
				, AA.RMRK
		FROM APPL_ATND AA
		JOIN LECT_TM_DTL ltd ON AA.CRCLM_CD = ltd.CRCLM_CD AND AA.CRCLM_YEAR = ltd.CRCLM_YEAR AND AA.CRCLM_HALF = ltd.CRCLM_HALF AND AA.SBJCT_NO = ltd.SBJCT_NO AND AA.LECT_YMD = ltd.LECT_YMD AND AA.CLS_CD = ltd.CLS_CD
		WHERE AA.STDNT_NO = #{id } AND AA.SBJCT_NO = #{sbjct_no } AND AA.LECT_YMD <![CDATA[<=]]> DATE_FORMAT(NOW(),'%Y%m%d')
		ORDER BY AA.LECT_YMD
	</select>
	
	<select id="atndHour" parameterType="String" resultType="HashMap">
		SELECT CAST(COUNT(CASE WHEN ATND_CD != '0030' THEN 1 END) AS CHAR(10)) AS atnd_hour, CAST(COUNT(CASE WHEN ATND_CD = '0030' THEN 1 END) AS CHAR(10)) AS notAtnd_hour
		FROM APPL_ATND
		WHERE STDNT_NO = #{id } AND SBJCT_NO = #{sbjct_no } AND LECT_YMD <![CDATA[<=]]> DATE_FORMAT(NOW(),'%Y%m%d')
		GROUP BY STDNT_NO, SBJCT_NO
	</select>

</mapper>