<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.AttendanceDAO">

	<select id="crclmList" parameterType="HashMap" resultType="HashMap">
		SELECT CRCLM_CD as crclm_cd, CRCLM_YEAR as crclm_year, CRCLM_HALF as crclm_half, CRCLM_NM as crclm_name, SBJCT_NO as sbjct_no, SBJCT_NM as sbjct_name, ESNTL_YN as esntl_yn
			, EDU_HR as edu_hr, cls_stdntNum, KORN_FLNM as instr_name, cls_dayhour, ROOM_NO as cls_room
		FROM atndSbjctListView
		WHERE CRCLM_YEAR = #{crclm_year } AND CRCLM_HALF = #{crclm_half }
	</select>
	
	<select id="dayList" parameterType="HashMap" resultType="HashMap">
		SELECT (CONCAT(SUBSTRING(LECT_YMD, 5, 2), '.', SUBSTRING(LECT_YMD, 7, 2))) AS lec_day
		FROM LECT_TM_DTL
		WHERE CRCLM_CD = #{crclm_cd } AND CRCLM_YEAR = #{crclm_year } AND CRCLM_HALF = #{crclm_half } AND SBJCT_NO = #{sbjct_no }
		GROUP BY LECT_YMD
	</select>
	
	<select id="stdntList" parameterType="HashMap" resultType="HashMap">
		SELECT CRCLM_CD as crclm_cd, CRCLM_YEAR as crclm_year, CRCLM_HALF as crclm_half, SBJCT_NO as sbjct_no
			, STDNT_NO as stdnt_no, (SELECT KORN_FLNM FROM APPL_INFO ai WHERE ai.STDNT_NO = APPL_CLS.STDNT_NO) as stdnt_name
		FROM APPL_CLS
		WHERE CRCLM_CD = #{crclm_cd } AND CRCLM_YEAR = #{crclm_year } AND CRCLM_HALF = #{crclm_half } AND SBJCT_NO = #{sbjct_no }
	</select>
	
	<select id="stuAtndList" parameterType="HashMap" resultType="HashMap">
		SELECT CRCLM_CD, CRCLM_YEAR, CRCLM_HALF, SBJCT_NO, STDNT_NO, (CONCAT(SUBSTR(LECT_YMD, 5, 2), '.', SUBSTR(LECT_YMD, 7, 2))) AS lec_day
			, CodeFind('0017', CLS_CD) AS cls_hour, CodeFind('0014', ATND_CD) AS atnd_stt
		FROM APPL_ATND
		WHERE CRCLM_CD = #{crclm_cd } AND CRCLM_YEAR = #{crclm_year } AND CRCLM_HALF = #{crclm_half } AND SBJCT_NO = #{sbjct_no } AND STDNT_NO = #{stdnt_no }
		ORDER BY lec_day
	</select>

</mapper>