<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.CodeDAO">
	<select id="list"  parameterType="HashMap" resultType="HashMap"> 
		SELECT * FROM CODE_INFO
		<if test="code_search!=null and code_search!=''">
			WHERE CD_CLSF LIKE CONCAT('%',#{code_search},'%') OR
			CD LIKE CONCAT('%',#{code_search},'%') OR
			CD_NM LIKE CONCAT('%',#{code_search},'%')
		</if>
	</select>	
	
	<select id="detaillist" parameterType="HashMap" resultType="HashMap"> 
		SELECT * FROM CODE_INFO
		WHERE CD_CLSF = #{CD_CLSFValue}
	</select>	
</mapper>