<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.CodeDAO">
	<select id="list"  parameterType="HashMap" resultType="HashMap"> 
		SELECT * FROM CODE_INFO
		<if test="code_search!=null and code_search!=''">
			WHERE CD_CLSF LIKE CONCAT('%',#{code_search},'%') OR
			CD LIKE CONCAT('%',#{code_search},'%') OR
			CD_NM LIKE CONCAT('%',#{code_search},'%')
		</if>
	</select>	
	
	<!--신규일때 체크 -->
	<select id="isCodeExist" parameterType="HashMap" resultType="Boolean"> 
		SELECT COUNT(*) > 0 
		FROM CODE_INFO
		WHERE CD_CLSF = #{CD_CLSF} AND CD = #{CD}
	</select>
	
	<!-- 수정할때 체크 -->
<!-- 	<select id="isCodeExist2" parameterType="java.util.List" resultType="Boolean"> 
		SELECT COUNT(*) > 0 
		FROM CODE_INFO
		 <where> 
			<foreach collection="list" item="item" separator=" OR "> 
				( CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD}) 
			</foreach> 
		</where> 
	</select> -->
	
	
	
	
	
	<select id="detaillist" parameterType="HashMap" resultType="HashMap"> 
		SELECT * FROM CODE_INFO
		WHERE CD_CLSF = #{CD_CLSFValue}
	</select>	
	
	<!-- <insert id="code_create" parameterType="HashMap">
		INSERT INTO CODE_INFO
		SET
		CD_CLSF = #{CD_CLSF},
		CD = #{CD},
		CD_NM = #{CD_NM},
		CD_USE_YN = #{CD_USE_YN},
		CD_EXPLN=#{CD_EXPLN},
		CD_SORT_SN=#{CD_SORT_SN}
	</insert> -->
	
	<!-- CD_USE_YN의 디폴트값 설정 -->
	<insert id="code_create" parameterType="HashMap">
		INSERT INTO CODE_INFO (CD_CLSF, CD, CD_NM, CD_USE_YN, CD_EXPLN, CD_SORT_SN)
		VALUES (#{CD_CLSF}, #{CD}, #{CD_NM}, COALESCE(NULLIF(#{CD_USE_YN}, ''), 'N'), #{CD_EXPLN}, #{CD_SORT_SN});
	</insert>
	
	
	<update id="code_update" parameterType="java.util.List">
   		UPDATE CODE_INFO SET
        CD_NM = CASE
            <foreach collection="list" item="item" index="index">
                WHEN CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD} THEN #{item.CD_NM}
            </foreach>
            ELSE CD_NM
        END,
        CD_USE_YN = CASE
            <foreach collection="list" item="item" index="index">
                WHEN CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD} THEN #{item.CD_USE_YN}
            </foreach>
            ELSE CD_USE_YN
        END,
        CD_EXPLN = CASE
            <foreach collection="list" item="item" index="index">
                WHEN CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD} THEN #{item.CD_EXPLN}
            </foreach>
            ELSE CD_EXPLN
        END,
        CD_SORT_SN = CASE
            <foreach collection="list" item="item" index="index">
                WHEN CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD} THEN #{item.CD_SORT_SN}
            </foreach>
            ELSE CD_SORT_SN
        END
	    	<where>
		        <foreach collection="list" item="item" separator="OR">
		            CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD} 
		        </foreach>
	        </where>
	</update>
	
	
	
	<delete id="code_delete" parameterType="java.util.List">
	    DELETE FROM CODE_INFO
	    <where> 
			<foreach collection="list" item="item" open="" close="" separator="OR"> 
				(CD_CLSF = #{item.CD_CLSF} AND CD = #{item.CD}) 
			</foreach> 
		</where> 
	</delete>
		
</mapper>