<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.EstablishedSubjectDAO">
	<select id="estList" parameterType="HashMap" resultType="HashMap">
		SELECT CRCLM_YEAR,CRCLM_HALF, CodeFind('0018',CRCLM_HALF) AS HALF,CRCLM_CD,SubjectFind(SBJCT_NO)AS REAL_SBJCT_NM, (SELECT CRCLM_NM FROM CRCLM_INFO WHERE CRCLM_INFO.CRCLM_CD = ESTBL_SBJCT.CRCLM_CD AND CRCLM_INFO.CRCLM_YEAR = ESTBL_SBJCT.CRCLM_YEAR AND CRCLM_INFO.CRCLM_HALF = ESTBL_SBJCT.CRCLM_HALF) AS CRCLM_NM, SBJCT_NO, SBJCT_NM, SBJCT_EXPLN, EDU_HR, SBJCT_PLAN_YN, ROOM_NO, ESNTL_YN, EDU_WEEK_HR FROM ESTBL_SBJCT
		WHERE CRCLM_CD = #{crc}
        <if test="year != ''">
			AND CRCLM_YEAR = #{year}
        </if>
        <if test="hlf != ''">
			AND CRCLM_HALF = #{hlf}
        </if>
	</select>

	<select id="estCodeList" parameterType="String" resultType="HashMap">
		SELECT * FROM CODE_INFO
		WHERE CD_CLSF = (SELECT CD FROM CODE_INFO WHERE CD_NM = #{division})
	</select>
	<select id="estYearList" parameterType="String" resultType="HashMap">
		SELECT CRCLM_YEAR FROM CRCLM_INFO
		WHERE CRCLM_CD = #{crc}
		GROUP BY CRCLM_YEAR
	</select>
	<select id="estHalfList" parameterType="String" resultType="HashMap">
		SELECT CRCLM_HALF, CodeFind('0018',CRCLM_HALF) AS HALF FROM CRCLM_INFO
		WHERE CRCLM_CD = #{crc} AND CRCLM_YEAR = #{year}
		GROUP BY CRCLM_HALF
	</select>
	<select id="estRoomList" resultType="HashMap">
		SELECT * FROM ROOM_INFO
	</select>
	<select id="estSubjectList" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM SBJCT_INFO
		<if test="searchWord != ''">
			WHERE SBJCT_NM LIKE CONCAT('%',#{searchWord},'%')
		</if>
	</select>
	<select id="estInstructorList" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM INSTR_INFO
		<if test="searchWord != ''">
			WHERE KORN_FLNM LIKE CONCAT('%',#{searchWord},'%')
		</if>
	</select>
	<select id="estGetInstr" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM SBJCT_INSTR NATURAL JOIN INSTR_INFO
		WHERE
			CRCLM_CD = #{crc}
			AND CRCLM_YEAR = #{year}
			AND CRCLM_HALF = #{hlf}
			AND SBJCT_NO = #{sbjno}
	</select>
	
	<insert id="estSave" parameterType="HashMap">
		INSERT INTO ESTBL_SBJCT (CRCLM_YEAR,CRCLM_HALF,CRCLM_CD,SBJCT_NO,SBJCT_NM,SBJCT_EXPLN,EDU_HR,ROOM_NO,ESNTL_YN,EDU_WEEK_HR)
		VALUES (#{year},#{hlf},#{crc},#{sbjcd},#{sbjnm},#{sbjxp},#{hrs},#{room},#{esntl, jdbcType=BOOLEAN},#{weekhrs})
		ON DUPLICATE KEY UPDATE
			ROOM_NO = #{room},
			SBJCT_NM = #{sbjnm},
			SBJCT_EXPLN = #{sbjxp},
			ESNTL_YN = #{esntl, jdbcType=BOOLEAN},
			EDU_WEEK_HR = #{weekhrs}
	</insert>
	<insert id="estPlan" parameterType="HashMap">
		INSERT IGNORE INTO SBJCT_PLAN (CRCLM_YEAR,CRCLM_HALF,CRCLM_CD,SBJCT_NO)
		VALUES (#{year},#{hlf},#{crc},#{sbjcd})
	</insert>
	<insert id="estDgst" parameterType="HashMap">
		INSERT IGNORE INTO APPL_DGSTFN_LIST (CRCLM_YEAR,CRCLM_HALF,CRCLM_CD,SBJCT_NO,DGSTFN_OP_YN)
		VALUES (#{year},#{hlf},#{crc},#{sbjcd},"N")
	</insert>
	<insert id="estTime" parameterType="HashMap">
		INSERT IGNORE INTO LECT_TM_INFO (CRCLM_YEAR,CRCLM_HALF,CRCLM_CD,SBJCT_NO,LECT_DAY_CD,BGNG_CLS_CD,END_CLS_CD,SBJCT_MTHD_CD,ROOM_NO,INSTR_NO)
		VALUES (#{year},#{hlf},#{crc},#{sbjcd},#{dayCode},#{startCode},#{endCode},(SELECT SBJCT_MTHD_CD FROM SBJCT_PLAN WHERE CRCLM_YEAR=#{year} AND CRCLM_HALF=#{hlf} AND CRCLM_CD=#{crc} AND SBJCT_NO=#{sbjcd}),#{room},#{insno})
	</insert>
	<select id="estTimeInfo" parameterType="HashMap" resultType="HashMap">
		SELECT *,SubjectFind(SBJCT_NO) AS SBJ FROM LECT_TM_DTL WHERE CRCLM_YEAR=#{year} AND CRCLM_HALF=#{hlf} AND ROOM_NO = #{room}
	</select>
	<insert id="estTimeConfirm" parameterType="HashMap">
		INSERT INTO LECT_TM_INFO (CRCLM_CD,CRCLM_YEAR,CRCLM_HALF,SBJCT_NO,LECT_DAY_CD,BGNG_CLS_CD,END_CLS_CD,SBJCT_MTHD_CD,ROOM_NO,ENDST_NO,INSTR_NO)
		VALUES (#{crc},#{year},#{hlf},#{sbj},#{dayCode},#{startCode},#{endCode},'0010',#{room},'E199804001',(SELECT INSTR_NO FROM SBJCT_INSTR WHERE CRCLM_CD=#{crc} AND CRCLM_YEAR=#{year} AND CRCLM_HALF=#{hlf} AND SBJCT_NO=#{sbj}))
	</insert>
	<insert id="estInst" parameterType="HashMap">
		INSERT INTO SBJCT_INSTR (CRCLM_YEAR,CRCLM_HALF,CRCLM_CD,SBJCT_NO,INSTR_NO,RPRS_INSTR_YN)
		VALUES (#{year},#{hlf},#{crc},#{sbjcd},#{insno},(SELECT IF(COUNT(RPRS_INSTR_NO)>0,'Y','N') FROM CRCLM_INFO WHERE RPRS_INSTR_NO = #{insno}))
		ON DUPLICATE KEY UPDATE
			INSTR_NO = #{insno}
			,RPRS_INSTR_YN = (SELECT IF(COUNT(RPRS_INSTR_NO)>0,'Y','N') FROM CRCLM_INFO WHERE RPRS_INSTR_NO = #{insno})
	</insert>
</mapper>