<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.SubjectPlanDAO">

	<select id="getPlan" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM SBJCT_PLAN
		WHERE CRCLM_CD = #{crc} 
			AND CRCLM_YEAR = #{year} 
			AND CRCLM_HALF = #{hlf} 
			AND SBJCT_NO = #{sbj} 
	</select>
	<select id="estListForInstr" parameterType="HashMap" resultType="HashMap">
		SELECT *,CodeFind('0018',es.CRCLM_HALF) AS HALF,SubjectFind(es.SBJCT_NO)AS REAL_SBJCT_NM, (SELECT CRCLM_NM FROM CRCLM_INFO WHERE CRCLM_INFO.CRCLM_CD = es.CRCLM_CD AND CRCLM_INFO.CRCLM_YEAR = es.CRCLM_YEAR AND CRCLM_INFO.CRCLM_HALF = es.CRCLM_HALF) AS CRCLM_NM FROM ESTBL_SBJCT es JOIN SBJCT_INSTR si 
			ON es.CRCLM_CD = si.CRCLM_CD AND es.CRCLM_YEAR = si.CRCLM_YEAR AND es.CRCLM_HALF = si.CRCLM_HALF AND es.SBJCT_NO = si.SBJCT_NO 
			WHERE si.INSTR_NO = #{loginID}
			<if test="crc != ''">
				AND si.CRCLM_CD = #{crc} 			
			</if>
			<if test="year != ''">
				AND si.CRCLM_YEAR = #{year}		
			</if>
			<if test="hlf != ''">
				AND si.CRCLM_HALF = #{hlf} 		
			</if> 
	</select>
	<select id="getPlanDetail" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM SBJCT_PLAN_DTL
		WHERE CRCLM_CD = #{crc} 
			AND CRCLM_YEAR = #{year} 
			AND CRCLM_HALF = #{hlf} 
			AND SBJCT_NO = #{sbj} 
		ORDER BY CAST(DTL_NO AS SIGNED) ASC
	</select>
	<update id="savePlan" parameterType="HashMap">
		UPDATE SBJCT_PLAN
		SET
		SBJCT_TRGT = #{trgt}
		,SBJCT_CN = #{cn}
		,CRS_BOOK = #{book}
		,SBJCT_MTHD_CD = #{method}
		WHERE CRCLM_CD = #{crc} 
			AND CRCLM_YEAR = #{year} 
			AND CRCLM_HALF = #{hlf} 
			AND SBJCT_NO = #{sbj} 
	</update>
	<update id="planYN" parameterType="HashMap">
		UPDATE SBJCT_PLAN
		SET
		PLAN_WRT_CMPTL = 'Y'
		WHERE CRCLM_CD = #{crc} 
			AND CRCLM_YEAR = #{year} 
			AND CRCLM_HALF = #{hlf} 
			AND SBJCT_NO = #{sbj} 
	</update>

	<insert id="saveDetail" parameterType="HashMap">
		<selectKey resultType="Integer" keyProperty="detailCount" order="BEFORE">
        SELECT IF(MAX(CAST(DTL_NO AS SIGNED)) IS NOT NULL,MAX(CAST(DTL_NO AS SIGNED)),0) FROM SBJCT_PLAN_DTL WHERE CRCLM_YEAR=#{year} AND CRCLM_HALF=#{hlf} AND CRCLM_CD=#{crc} AND SBJCT_NO=#{sbj}
    	</selectKey>   
		INSERT INTO SBJCT_PLAN_DTL (CRCLM_YEAR,CRCLM_HALF,CRCLM_CD,SBJCT_NO,DTL_NO,LECT_TTL_NM,LECT_TPC_NM,LECT_CN)
		VALUES (#{year},#{hlf},#{crc},#{sbj},
		#{detailCount}+1
		,#{ttl},#{tpc},#{cn})		
	</insert>
	<update id="updatePlanDetail">
		UPDATE SBJCT_PLAN_DTL 
		SET
		LECT_TTL_NM = #{ttl},
		LECT_TPC_NM = #{tpc},
		LECT_CN = #{cn}
		WHERE CRCLM_CD=#{crc} AND CRCLM_YEAR=#{year} AND CRCLM_HALF=#{hlf} AND SBJCT_NO=#{sbj} AND DTL_NO=#{dtlno}
	</update>
	<update id="estOn" parameterType="HashMap">
		UPDATE ESTBL_SBJCT
		SET
		SBJCT_PLAN_YN = 'Y'
		WHERE CRCLM_CD = #{crc} 
			AND CRCLM_YEAR = #{year} 
			AND CRCLM_HALF = #{hlf} 
			AND SBJCT_NO = #{sbj} 
	</update>
	<delete id="deleteDetail" parameterType="HashMap">
		DELETE FROM SBJCT_PLAN_DTL 
		WHERE CRCLM_CD=#{crc} AND CRCLM_YEAR=#{year} AND CRCLM_HALF=#{hlf} AND SBJCT_NO=#{sbj} AND DTL_NO=#{dtlno}
	</delete>
</mapper>