<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongAng.academy.dao.SurveyDAO">
	
	
	<select id="list" parameterType="HashMap" resultType="HashMap"> 
		SELECT * FROM surveylist
		<where>		
		<if test="SBJCT_NM !='' and SBJCT_NM !=null">
			AND SBJCT_NM LIKE CONCAT('%',#{SBJCT_NM},'%');		
		</if>
		<if test="s_CRCLM_CD !='' and s_CRCLM_CD !=null">
			AND s_CRCLM_CD LIKE CONCAT('%',#{s_CRCLM_CD},'%');		
		</if>
		<if test="s_CRCLM_YEAR !='' and s_CRCLM_YEAR !=null">
			AND s_CRCLM_YEAR = #{s_CRCLM_YEAR}
		</if>
		<if test="s_CRCLM_HALF !='' and s_CRCLM_HALF !=null">
			AND s_CRCLM_HALF = #{s_CRCLM_HALF}
		</if>
		</where>
	</select>
		
	<!-- <select id="list" parameterType="HashMap" resultType="HashMap"> 
		SELECT * FROM surveylist
		WHERE (CRCLM_CD = #{CRCLM_CD} AND CRCLM_HALF = #{CRCLM_HALF} AND 
		CRCLM_YEAR = #{CRCLM_YEAR} AND SBJCT_NO = #{SBJCT_NO})
	</select>	 -->
</mapper>